.img-logo {
    height: 52px;
}

#mensagem-upload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: none;
    width: 35%;
    /* Hidden by default */
}

.was-validated input:invalid {
    border-color: #e74c3c;
    background-color: #fceae9;
}

.invalid-feedback {
    display: none;
    color: #e74c3c;
    margin-top: 5px;
}

input:invalid~.invalid-feedback {
    display: block;
}